<table id ="team_1_table" class="table table-condensed">
  <thead>
    <th>Team 1</th>
  </thead>
  <tbody>
  	<% @players.each do |p| %>
  		<% if p.team == 1 %>
		  	<tr>
		  		<td data-player-id="<%=p.id%>" data-player-team="<%=p.team%>"><%=p.name%></td>
		  	</tr>
		<% end %>
	<% end %>
  </tbody>
</table>