<h1><center>Bowling Score Card</center></h1>
<center>This app is a basic show case app. It uses JS, jQuery powered AJAX, and Rails to provide a smooth bowling scorecard. Click one of the buttons on the nav bar up top and give it a whirl.</center>