<center>
	<h2> Load a Game </h2>
	<div id="game_exists">
		<%#Place holder for _game_exists%>
	</div>
	<%= text_field(:game, :id, :size => 15, :placeholder => 'Game #') %>
	<button id="load"type="button" class="btn btn-success btn-lg">Load</button>
</center>