<center><div id="add_player" data-game-id="<%=@game.id%>">
	<h2>Add a Player</h2>
	<%= render :partial => 'add_player'%>
</div></center>


<div id="team_1_display_table">
	<%= render :partial => 'team_1_table', locals: { players: @players}%>
</div>

<div id="team_2_display_table">
	<%= render :partial => 'team_2_table', locals: { players: @players}%>
</div>

<center>
	<button id="play" type="button" class="btn btn-success btn-lg">Play</button>
</center>