@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
  background-color: black;
}

body {
  padding-top: 60px;
  background-color: black;
  color: white;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  color: gray;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: gray;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* Flash Styles */
.alert alert-success {
  color: Green;
  background-color: black;
}

/* New Game Page */
.hiddenRow {
    padding: 0 !important;
}
.table td {
   text-align: center;
   overflow: hidden; 
}
.table th {
  text-align: center;
  overflow: hidden;
}
.table { 
  table-layout: fixed;
}
#team_1_display_table {
  float: left;
  width: 50%;
}
#team_2_display_table {
  float: right;
  width: 50%;
}

#play {
  padding-left: 400px;
  padding-right: 400px;
}

/* Play Game Page */

.game_id {
  text-align: center;
}

.scorecard {
  width: 95%;
  height: 100px;
  
  border: 2px solid gray;

}

.bigbox {
  width: 9.09%;
  height: 100px;
  border: 2px solid gray;

  color: gray;
  float: left;
}

.score_select {
  float: right;
}

.score {
  float: center;
}

.total_score {
  color: white;
}